<!doctype html>
<html lang="en" ng-app="MakerMix">
  <head>
    <meta charset="utf-8">
    <title>Cohort Pairing</title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/cohortController.js"></script>
    <script src="js/viewController.js"></script>
    <script src="js/userController.js"></script>
  </head>

  <body ng-controller="ViewController as viewCtrl">

    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
      <!-- Nav left -->
        <div class="navbar-header">
         <img src="http://www.makersacademy.com/images/logo.png" height="52" width="272">
          </a>
        </div>
      <!-- Nav right -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="form-group">
          <form class="navbar-form navbar-right">
          <ul class="nav navbar-nav navbar-right">
            <li id="pad"><button ng-show="viewCtrl.isView(1)" ng-click="viewCtrl.setView(2)" class="btn btn-warning">Cohort</button></li>
            <li id="pad"><button ng-show="viewCtrl.isView(2)" ng-click="viewCtrl.setView(1)" class="btn btn-warning">Home</button></li>
            </ul>
          </ul>
          </form>
        </div>
      </div>
      </div>
    </nav>
    <!-- END Navbar -->

    <!-- Landing page -->
    <div ng-controller="UserController as userCtrl" ng-show="viewCtrl.isView(1)" class="jumbotron" id="wrap">
      <img src="public/makermix_dog.png">
      <h1>What's yo name?</h1>
      <input id="inputBox" type="text" ng-model="userCtrl.userName">
      <p><a class="btn btn-primary btn-lg" id="woofbtn" role="button" ng-click='userCtrl.outputName()'>WOOF!</a></p>
      <div id="userReadout" ng-hide="userCtrl.hidden">Hi {{userCtrl.userName}}</div>
      <div id="pairReadout" ng-hide="userCtrl.hidden">You are paired with {{userCtrl.userBox.name}}</div>
    </div>
    <!-- END Landing page -->

    <!-- Cohort page -->
    <div ng-show="viewCtrl.isView(2)" id="wrap" ng-controller="CohortController as cohortCtrl">
      <h2>March Cohort</h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Times Paired With</th>
          <th>No Thanks</th>
          </tr>
        </thead>
        <tbody>
      <!-- <ul class="list-group"> -->
      <tr ng-repeat="maker in cohortCtrl.cohort.users">
        <td>
          {{maker.name}}</td>
          <td><input ng-model="maker.nothanks" type="checkbox"></td>
          <td><span class="badge">3</span></td>

        </tr>
      <!-- </ul> -->
        </tbody>
      </table>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Pair Everyone</a></p>
    </div>
    <!-- END Cohort page -->

  </body>
</html>
